---
import type { HTMLAttributes } from 'astro/types';
import type { HTMLClass } from './types/index.d.ts';
import { StateLayer } from '.';

export interface Props extends HTMLClass, HTMLAttributes<'a'> {
  children: any;
  href?: string;
  scrollDepth?: number;
  throttleInterval?: number;
}

const {
  href = '#top',
  scrollDepth = 1.5,
  throttleInterval = 100,
  className = 'back-to-top',
  classList = [],
  ...attrs
} = Astro.props;
---

<a
  href={href}
  class:list={[className, classList]}
  data-ac-type="BackToTop"
  data-ac-visible="false"
  data-ac-scroll-depth={scrollDepth}
  data-ac-throttle-intvl={throttleInterval}
  {...attrs}
>
  <StateLayer Tag={'span'} />
  <slot />
</a>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion) {
    html {
      scroll-behavior: auto;
    }
  }

  .back-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    min-width: 2.5rem;
    min-height: 2.5rem;
    z-index: 65000;
  }

  .back-to-top[data-ac-visible='false'] {
    pointer-events: none;
    opacity: 0.01;
    transition: opacity 0.5s ease-out;
  }

  .back-to-top[data-ac-visible='true'] {
    pointer-events: all;
    opacity: 1;
    transition: opacity 300ms ease-out;
  }
</style>

<script>
  import { BackToTop as AcBackToTop } from './modules';

  new AcBackToTop();
</script>
