---
import type { HTMLAttributes } from 'astro/types';
import type { HTMLClass } from './types/index.d.ts';
import { StateLayer } from '.';

export interface Props extends HTMLClass, HTMLAttributes<'a'> {
  href: string;
  linkText: string;
}

const {
  href,
  linkText,
  className = 'skip-link',
  classList = [],
  ...attrs
} = Astro.props;
---

<a
  class:list={[className, classList]}
  href={href}
  {...attrs}
  data-ac-type="SkipLink"
>
  <StateLayer Tag={'div'} />
  <div class={`${className}__content`}>{linkText}</div>
</a>

<style is:global>
  a.skip-link {
    display: flex;
    align-items: center;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 1rem;
    background-color: white;
    color: black;
  }

  a.skip-link:focus {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: 65000;
    min-width: 2.75rem;
    min-height: 2.75rem;
    width: auto;
    height: auto;
  }
</style>
