/* TODO: Make colors actually accessible. Material Theme plugin generated some dark theme colors that weren't. */
.dark {
  --md-sys-color-primary: rgb(199 193 244);
  --md-sys-color-surface-tint: rgb(199 193 244);
  --md-sys-color-on-primary: rgb(47 43 85);
  --md-sys-color-primary-container: rgb(3 0 32);
  --md-sys-color-on-primary-container: rgb(152 147 195);
  --md-sys-color-secondary: rgb(200 196 218);
  --md-sys-color-on-secondary: rgb(48 46 64);
  --md-sys-color-secondary-container: rgb(64 62 80);
  --md-sys-color-on-secondary-container: rgb(215 210 233);
  --md-sys-color-tertiary: rgb(221 187 232);
  --md-sys-color-on-tertiary: rgb(63 39 74);
  --md-sys-color-tertiary-container: rgb(11 0 20);
  --md-sys-color-on-tertiary-container: rgb(172 141 183);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(20 19 22);
  --md-sys-color-on-background: rgb(229 225 229);
  --md-sys-color-surface: rgb(20 19 22);
  --md-sys-color-on-surface: rgb(229 225 229);
  --md-sys-color-surface-variant: rgb(71 70 78);
  --md-sys-color-on-surface-variant: rgb(201 197 207);
  --md-sys-color-outline: rgb(146 143 153);
  --md-sys-color-outline-variant: rgb(71 70 78);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 225 229);
  --md-sys-color-inverse-on-surface: rgb(49 48 51);
  --md-sys-color-inverse-primary: rgb(94 89 134);
  --md-sys-color-primary-fixed: rgb(228 223 255);
  --md-sys-color-on-primary-fixed: rgb(26 21 62);
  --md-sys-color-primary-fixed-dim: rgb(199 193 244);
  --md-sys-color-on-primary-fixed-variant: rgb(70 66 109);
  --md-sys-color-secondary-fixed: rgb(229 223 247);
  --md-sys-color-on-secondary-fixed: rgb(27 26 42);
  --md-sys-color-secondary-fixed-dim: rgb(200 196 218);
  --md-sys-color-on-secondary-fixed-variant: rgb(71 69 87);
  --md-sys-color-tertiary-fixed: rgb(247 216 255);
  --md-sys-color-on-tertiary-fixed: rgb(41 17 52);
  --md-sys-color-tertiary-fixed-dim: rgb(221 187 232);
  --md-sys-color-on-tertiary-fixed-variant: rgb(87 61 98);
  --md-sys-color-surface-dim: rgb(20 19 22);
  --md-sys-color-surface-bright: rgb(58 57 60);
  --md-sys-color-surface-container-lowest: rgb(14 14 17);
  --md-sys-color-surface-container-low: rgb(28 27 30);
  --md-sys-color-surface-container: rgb(32 31 34);
  --md-sys-color-surface-container-high: rgb(42 41 45);
  --md-sys-color-surface-container-highest: rgb(53 52 56);
}
