:root {
  --font-family-primary: 'NotoSans', sans-serif;
  --font-family-code: 'NotoSansMono', monospace;
  --md-sys-typescale-display-large-font: var(--font-family-primary);
  --md-sys-typescale-display-large-weight: 400;
  --md-sys-typescale-display-large-size: 3.5625rem;
  --md-sys-typescale-display-large-line-height: 1.12;
  --md-sys-typescale-display-medium-font: var(--font-family-primary);
  --md-sys-typescale-display-medium-weight: 400;
  --md-sys-typescale-display-medium-size: 2.8125rem;
  --md-sys-typescale-display-medium-line-height: 1.16;
  --md-sys-typescale-display-small-font: var(--font-family-primary);
  --md-sys-typescale-display-small-weight: 400;
  --md-sys-typescale-display-small-size: 2.25rem;
  --md-sys-typescale-display-small-line-height: 1.22;
  --md-sys-typescale-headline-large-font: var(--font-family-primary);
  --md-sys-typescale-headline-large-weight: 400;
  --md-sys-typescale-headline-large-size: 2rem;
  --md-sys-typescale-headline-large-line-height: 1.25;
  --md-sys-typescale-headline-medium-font: var(--font-family-primary);
  --md-sys-typescale-headline-medium-weight: 400;
  --md-sys-typescale-headline-medium-size: 1.75rem;
  --md-sys-typescale-headline-medium-line-height: 1.29;
  --md-sys-typescale-headline-small-font: var(--font-family-primary);
  --md-sys-typescale-headline-small-weight: 400;
  --md-sys-typescale-headline-small-size: 1.5rem;
  --md-sys-typescale-headline-small-line-height: 1.33;
  --md-sys-typescale-title-large-font: var(--font-family-primary);
  --md-sys-typescale-title-large-weight: 400;
  --md-sys-typescale-title-large-size: 1.375rem;
  --md-sys-typescale-title-large-line-height: 1.27;
  --md-sys-typescale-title-medium-font: var(--font-family-primary);
  --md-sys-typescale-title-medium-weight: 500;
  --md-sys-typescale-title-medium-size: 1rem;
  --md-sys-typescale-title-medium-line-height: 1.33;
  --md-sys-typescale-title-small-font: var(--font-family-primary);
  --md-sys-typescale-title-small-weight: 500;
  --md-sys-typescale-title-small-size: 0.875rem;
  --md-sys-typescale-title-small-line-height: 1.43;
  --md-sys-typescale-body-large-font: var(--font-family-primary);
  --md-sys-typescale-body-large-weight: 400;
  --md-sys-typescale-body-large-size: 1rem;
  --md-sys-typescale-body-large-line-height: 1.33;
  --md-sys-typescale-body-medium-font: var(--font-family-primary);
  --md-sys-typescale-body-medium-weight: 400;
  --md-sys-typescale-body-medium-size: 0.875rem;
  --md-sys-typescale-body-medium-line-height: 1.43;
  --md-sys-typescale-body-small-font: var(--font-family-primary);
  --md-sys-typescale-body-small-weight: 400;
  --md-sys-typescale-body-small-size: 0.75rem;
  --md-sys-typescale-body-small-line-height: 1.33;
  --md-sys-typescale-label-large-font: var(--font-family-primary);
  --md-sys-typescale-label-large-weight: 500;
  --md-sys-typescale-label-large-size: 0.875rem;
  --md-sys-typescale-label-large-line-height: 1.43;
  --md-sys-typescale-label-medium-font: var(--font-family-primary);
  --md-sys-typescale-label-medium-weight: 500;
  --md-sys-typescale-label-medium-size: 0.75rem;
  --md-sys-typescale-label-medium-line-height: 1.33;
  --md-sys-typescale-label-small-font: var(--font-family-primary);
  --md-sys-typescale-label-small-weight: 500;
  --md-sys-typescale-label-small-size: 0.6875rem;
  --md-sys-typescale-label-small-line-height: 1.45;
  --md-sys-typescale-code-font: var(--font-family-code);
  --md-sys-typescale-code-weight: 400;
  --md-sys-typescale-code-size: 1rem;
  --md-sys-typescale-code-line-height: 1.33;
}
