@import url('./fonts.css');
@import url('./font-styles.css');
@import url('./shape.css');
@import url('./state.css');
@import url('./elevation.css');
@import url('./spacing.css');
@import url('./light.css');

html *,
html *::before,
html *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface);
  font-family: var(--md-sys-typescale-body-large-font);
  font-size: var(--md-sys-typescale-body-large-size);
  font-weight: var(--md-sys-typescale-body-large-weight);
  line-height: var(--md-sys-typescale-body-large-line-height);
  overflow-wrap: break-word;
  hyphens: manual;
}

h1 {
  font-family: var(--md-sys-typescale-display-large-font);
  font-weight: var(--md-sys-typescale-display-large-weight);
  font-size: var(--md-sys-typescale-display-large-size);
  line-height: var(--md-sys-typescale-display-large-line-height);
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

h2 {
  font-family: var(--md-sys-typescale-display-medium-font);
  font-weight: var(--md-sys-typescale-display-medium-weight);
  font-size: var(--md-sys-typescale-display-medium-size);
  line-height: var(--md-sys-typescale-display-medium-line-height);
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

h3 {
  font-family: var(--md-sys-typescale-display-small-font);
  font-weight: var(--md-sys-typescale-display-small-weight);
  font-size: var(--md-sys-typescale-display-small-size);
  line-height: var(--md-sys-typescale-display-small-line-height);
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

h4 {
  font-family: var(--md-sys-typescale-headline-large-font);
  font-weight: var(--md-sys-typescale-headline-large-weight);
  font-size: var(--md-sys-typescale-headline-large-size);
  line-height: var(--md-sys-typescale-headline-large-line-height);
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

h5 {
  font-family: var(--md-sys-typescale-headline-medium-font);
  font-weight: var(--md-sys-typescale-headline-medium-weight);
  font-size: var(--md-sys-typescale-headline-medium-size);
  line-height: var(--md-sys-typescale-headline-medium-line-height);
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

h6 {
  font-family: var(--md-sys-typescale-headline-small-font);
  font-weight: var(--md-sys-typescale-headline-small-weight);
  font-size: var(--md-sys-typescale-headline-small-size);
  line-height: var(--md-sys-typescale-headline-small-line-height);
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

p,
ol,
ul,
li,
blockquote,
figure,
figcaption,
details {
  margin-top: var(--spacing-16);
  margin-bottom: 0;
}

pre {
  margin-top: var(--spacing-16);
  margin-bottom: 0;
  overflow-x: scroll;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration-thickness: from-font;
  color: var(--md-sys-color-primary);
  font-weight: 500;
}

small {
  font-size: var(--md-sys-typescale-body-small-size);
}

hr {
  border-color: var(--md-sys-color-outline-variant);
}

b,
strong {
  font-weight: 700;
}

i,
em,
q {
  font-family: var(--font-family-primary-italic);
}

code,
kbd,
samp,
var {
  font-family: var(--md-sys-typescale-code-font);
  font-weight: var(--md-sys-typescale-code-weight);
  font-size: var(--md-sys-typescale-code-size);
  line-height: var(--md-sys-typescale-code-line-height);
  font-style: normal;
}

.state-layer {
  position: absolute;
  inset: 0;
  z-index: -1;
}

a:hover .state-layer,
button:hover .state-layer {
  background-color: var(--md-sys-state-layer-color);
  opacity: var(--md-sys-state-layer-opacity-hover);
}

a:focus .state-layer,
button:focus .state-layer {
  background-color: var(--md-sys-state-layer-color);
  opacity: var(--md-sys-state-layer-opacity-focus);
}

a:active .state-layer,
button:active .state-layer {
  background-color: var(--md-sys-state-layer-color);
  opacity: var(--md-sys-state-layer-opacity-pressed);
}

.sr-only:not(:focus, :active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
