---
import { SkipLink, BackToTop } from '../../index.js';
import IconArrowCircleUp from '../components/icons/IconArrowCircleUp.astro';
---

<SkipLink href={'#main-content'} linkText={'Skip to main content'} />
<style is:global>
  a.skip-link {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    box-shadow: var(--md-sys-elevation-2-shadow);
    border-radius: var(--md-sys-shapescale-extra-small);
  }
</style>
<div class="page">
  <header class="page__header"></header>
  <main id="main-content" class="page__content">
    <slot />
  </main>
  <footer class="page__footer">
    <BackToTop>
      <div>
        <IconArrowCircleUp />
        <span class="sr-only">Back to top of page</span>
      </div>
    </BackToTop>
    <hr />
    <small>© 2024 @moonjellydigital/astro-components Contributors </small>
  </footer>
</div>

<style>
  .page__content {
    padding: var(--spacing-fluid-16-24);
  }

  .page__footer {
    padding: var(--spacing-fluid-16-24);
  }

  .back-to-top {
    border-radius: var(--md-sys-shapescale-full);
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    overflow: hidden;
    box-shadow: var(--md-sys-elevation-1-shadow);
    right: var(--spacing-fluid-16-24);
    bottom: var(--spacing-fluid-16-24);
  }

  @media (min-width: 648px) {
    .page {
      display: grid;
      grid-template-columns: 6rem 1fr;
    }

    .page__header {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      background-color: var(--md-sys-color-surface);
    }

    .page__content {
      grid-column-start: 2;
      grid-column-end: 3;
    }

    .page__footer {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }
</style>
